@font-face{
	font-family: "PT Sans";
	src: url('../fonts/ptsans.woff2');
}
@font-face{
	font-family: "PT Sans Bold";
	src: url('../fonts/ptsansbold.woff2');
}
/* Голубой цвет: #81b3d2;*/
/* Серенький такой: #eeeeee*/
/* Бедро дриады:  #766357*/


/***************** Некотороя всеобщая стилизация *****************/
body{
	font-size: 14px;
	line-height: 21px;
	color: #333333;
	font-family: "PT Sans", Arial, sans-serif;
	text-transform: uppercase;
	background-color: #f2f2f2;
}
.common__button{
	/* общие свойства для большинства кнопок макета */
	font-family: "PT Sans Bold", Arial, sans-serif;
	text-transform: uppercase;
	color: #ffffff;
	border: 0;
	outline: none;

	/*  */
	padding: 10px;
}
.common__button--light{
	background-color: #81b3d2;
}
.common__button--light:hover{
	background-color: #669ec0;
}
.common__button--light:active{
	background-color: #5496bd;
	color: #94b9d2;
}
.common__button--dirt{
	background-color: #766357;
}
.common__button--dirt:hover{
	background-color: #604e43;
}
.common__button--dirt:active{
	background-color: #503e33;
	color: #928a85;
}
.common__container{
	
	margin: 0 auto;
}
/* сокрытые элементы */
.g--hidden:not(:focus):not(:active),
input[type="checkbox"].g--hidden,
input[type="radio"].g--hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}


/************************* Главное меню **************************/
.intro{
	background-image: url('../img/background.jpg');
	background-repeat: no-repeat;
	background-position: top center;

	max-width: 1200px;
	min-width: 768px;

	position: relative;
	min-height: 564px;

	position: relative;
}
/* Сразу вырву из потока, чтоб не мешал */
.intro__logo{
	position: absolute;
	top: 0;
	left: 44%;
}
.intro__navigation{
	color: #000000;
	font-size: 14px;
	line-height: 26px;
	list-style: none;
	font-family: "PT Sans Bold", Arial, sans-serif;
	background-color: #ffffff;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	margin: 0;
	padding: 0;
}
.intro__navigation li{
	width: 20%;
}
.intro__navigation li:first-child{
	padding-left: 6%;
}
.intro__navigation li:last-child{
	padding-right: 6%;
}
.intro__navigation li:nth-child(2){
	padding-right: 8%;
}
/*.intro__navigation li:nth-child(3){
	padding-left: auto;
}*/
.intro__navigation li:nth-child(2),
.intro__navigation li:first-child{
	text-align: left;
}
.intro__navigation li:nth-child(3),
.intro__navigation li:last-child{
	text-align: right;
}
.intro__navigation a{
	color: #000000;
	font-size: 14px;
	line-height: 26px;
	text-decoration: none;
	display: block;
	padding: 16px 0;
}
.intro__navigation a:hover{
	color: #81b3d2;
}
.intro__navigation a:active{
	color: #cacaca;
}
.intro__navigation--current{
	color: #766357;
}
.intro__title{
	width: 460px;
	margin: 75px auto 0	;
}

/*************************** Главная часть **************************/
.feature{
	text-align: center;
	background-color: #ffffff;

	max-width: 1200px;
	min-width: 768px;
}
.feature p,
.feature ul{
	margin: 0;
	padding: 0;
}
.feature b{
	font-size: 21px;
	line-height: 26px;
	font-family: "PT Sans Bold", Arial, sans-serif;
}
.feature h3,
.feature h4{
	font-size: 21px;
	line-height: 21px;
	font-family: "PT Sans Bold", Arial, sans-serif;
	margin: 0;
	padding: 0;
}
.feature__list{
	list-style: none;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
}
.feature__list li{
	width: 33%;
}
.feature__list:last-child{
	background-color: #eeeeee;
}

.feature__number::before{
	content: '– ';
}
.feature__number::after{
	content: ' –';
}
.feature__wrapper{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.feature__illustration{
	background-repeat: no-repeat;
	background-position: center;
	width: 67%;
	
}
.feature__wrapper:nth-of-type(1) .feature__illustration{
	background-image: url('../img/features_1.jpg');
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
}
.feature__wrapper:nth-of-type(2) .feature__illustration{
	background-image: url('../img/features_2.jpg');
	order: -1;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
}
.feature__point{
	background-color: #81b3d2;
	color: #ffffff;
	width: 33%;
}

/**************************** Поиск на главной *****************************/
.search{
	background-color: #ffffff;

	max-width: 1200px;
	min-width: 768px;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}
.search__title{
	text-align: center;
}
.search__title b{
	font-size: 30px;
	line-height: 36px;
	font-family: "PT Sans Bold", Arial, sans-serif;
}
.search__title p{
	line-height: 24px;
}
.search__button{
	width: 570px;
}

.search__form{
	font-family: "PT Sans Bold", Arial, sans-serif;

	width: 570px;
}
.search__form div{
	margin: 10px;
	padding: 10px;
}
.search__form input, 
.search__control{
	padding: 10px;
	outline: none;
	border: none;
	background: #f2f2f2;
}
.search__form input:hover{
	background-color: #ebebeb;
}
.search__form input:focus{
	background-color: transparent;
	box-shadow: inset 0 0 0 1px #ebebeb;
}
.search__control{
	color: #a9a9a9;
}
.search__control:hover{
	color: #000000;
}
.search__control:active{
	color: #81b3d2;
}

/*********************** Карта ***********************************/
.map{
	max-width: 1200px;
	min-width: 768px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.map img{
	width: 100%;
	height: auto;
}
/*********************** Подвал **********************************/
.footer{
	background-color: #ffffff;

	max-width: 1200px;
	min-width: 768px;
	min-height: 120px;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.footer p{
	padding: 0;
	margin: 0;
}
.footer__tag{
	font-family: "PT Sans Bold", Arial, sans-serif;
	color: black;
	font-size: 21px;
	line-height: 26px;
	text-align: center;

	width: 33%;
}
.footer__social{
	list-style: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;

	width: 33%;
}
.footer__social li{
	/*временно, а то смотреть противно*/
	padding: 5px;
	margin: 15px;
}
.footer__social a{
	text-decoration: none;
}
.footer__copyright{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;

	width: 33%;
}
/*********** Организуем футер над картой **************************/
.bottombar{
	position: relative;
	max-width: 1200px;
	min-width: 768px;
}
.bottombar .footer{
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
	width: 100%;
	
	opacity: 0.9;
}

/********************* Страница каталога *************************/
.inner-page .intro{
	background-image: none;
	min-height: 56px;
}
.hotels{
	background-color: #ffffff;

	max-width: 1200px;
	min-width: 768px;
}
.hotels ul, p, h2{
	margin: 0;
	padding: 0;
}
.hotels__item h2{
	font-family: "PT Sans Bold", Arial, sans-serif;
	color: #000000;
	font-size: 21px;
	line-height: 26px;
}
.hotels__column--1{
	width: 33%;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	-ms-align-items: flex-end;
	align-items: flex-end;
	padding-right: 72px;
	margin-left: auto;
}
.hotels__column--2{
	width: 67%;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	padding-left: 72px;
}
/* Форма поиска */
.hotels-form{
	background-image: url('../img/filter_background.jpg');
	background-repeat: no-repeat;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.hotels-form__button{
	font-family: "PT Sans", Arial, sans-serif;
	background-color: transparent;
	padding: 5px;
	border: 2px solid #ffffff;
	border-radius: 2px;
	margin: 5px;
}
.hotels-form__button:hover{
	background-color: #ffffff;
	color: #000000;
}

.hotels-form fieldset{
	border: none;

	width: 33%;
}


.hotels-form legend{
	font-family: "PT Sans Bold", Arial, sans-serif;
	color: #ffffff;
	font-size: 16px;
	line-height: 21px;
}
.hotels-form ul{
	list-style: none;
	color: #ffffff;
}
.hotels-form input:disabled + label{
	color: #6a6a6a;
}
/* Список отелей */
.hotels__list{
	list-style: none;
}
.hotels__list a{
	text-decoration: none;
}
.hotels__list b{
	font-family: "PT Sans Bold", Arial, sans-serif;
	color: #000000;
	font-size: 21px;
	line-height: 26px;
}
.hotels__filter{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	/*пока что*/
	justify-content: space-between;

	min-height: 86px;
}
.hotels__filter .hotels__column--2{
	align-items: center;
}
.filter__list{
	list-style: none;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.filter__control{
	font-size: 12px;
	line-height: 18px;
	color: #cacaca;
	border-bottom: 1px dotted #81b3d2;
}
.filter__control:hover{
	color: #81b3d2;
}
.filter__control--current{
	color: #81b3d2;
	border: none;
}
.filter__indicator{
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}
.hotels__item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	/*пока что*/
	justify-content: space-around;
}
.hotels__filter,
.hotels__item{
	border-bottom: 1px solid #e5e5e5;
}

.hotels__item__rating{
	background-color: #f2f2f2;

	padding: 5px;
}