@font-face{
	font-family: "PT Sans";
	src: url('../fonts/ptsans.woff2');
}
@font-face{
	font-family: "PT Sans Bold";
	src: url('../fonts/ptsansbold.woff2');
}
/* Голубой цвет: #81b3d2;*/
/* Серенький такой: #eeeeee*/
/* Бедро дриады:  #766357*/


/***************** Некотороя всеобщая стилизация *****************/
body{
	font-size: 14px;
	line-height: 21px;
	color: #333333;
	font-family: "PT Sans", Arial, sans-serif;
	text-transform: uppercase;
	background-color: #f2f2f2;
}
.common__button{
	/* общие свойства для большинства кнопок макета */
	font-family: "PT Sans Bold", Arial, sans-serif;
	text-transform: uppercase;
	color: #ffffff;
	border: 0;
	outline: none;
}
.common__button--light{
	background-color: #81b3d2;
}
.common__button--light:hover{
	background-color: #669ec0;
}
.common__button--light:active{
	background-color: #5496bd;
	color: #94b9d2;
}
.common__button--dirt{
	background-color: #766357;
}
.common__button--dirt:hover{
	background-color: #604e43;
}
.common__button--dirt:active{
	background-color: #503e33;
	color: #928a85;
}
.common__container{
	
	margin: 0 auto;
}
/* сокрытые элементы */
.g--hidden:not(:focus):not(:active),
input[type="checkbox"].g--hidden,
input[type="radio"].g--hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}


/************************* Главное меню **************************/
.intro{
	background-image: 
		url('../img/intro_border.png'),
		url('../img/background.jpg');
	background-repeat: 
		no-repeat,
		no-repeat;
	background-position: 
		bottom center,
		top center;

	max-width: 1200px;
	min-width: 768px;

	position: relative;
	min-height: 564px;

}
.intro nav{
	position: relative;
}
.intro__logo{
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -69px;
}
.intro__navigation{
	color: #000000;
	font-size: 14px;
	line-height: 26px;
	list-style: none;
	font-family: "PT Sans Bold", Arial, sans-serif;
	background-color: #ffffff;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	margin: 0;
	padding: 0;
}
.intro__navigation li{
	width: 20%;
}
.intro__navigation li:first-child{
	padding-left: 6%;
}
.intro__navigation li:last-child{
	padding-right: 6%;
}
.intro__navigation li:nth-child(2){
	padding-right: 8%;
}
.intro__navigation li:nth-child(2),
.intro__navigation li:first-child{
	text-align: left;
}
.intro__navigation li:nth-child(3),
.intro__navigation li:last-child{
	text-align: right;
}
.intro__navigation a{
	color: #000000;
	font-size: 14px;
	line-height: 26px;
	text-decoration: none;
	display: block;
	padding: 16px 0;
}
.intro__navigation a:hover{
	color: #81b3d2;
}
.intro__navigation a:active{
	color: #cacaca;
}
.intro__navigation--current{
	color: #766357;
}
.intro__title{
	width: 460px;
	margin: 75px auto 0	;
}

/*************************** Главная часть **************************/
.feature{
	text-align: center;
	background-color: #ffffff;

	max-width: 1200px;
	min-width: 768px;
}
.feature p,
.feature ul{
	margin: 0;
	padding: 0;
}
.feature h3,
.feature h4{
	font-size: 21px;
	line-height: 21px;
	font-family: "PT Sans Bold", Arial, sans-serif;
	margin: 0;
	padding: 0;
}
.feature__desc{
	padding-top: 64px;
	padding-bottom: 55px;
}
.feature__desc b{
	font-size: 21px;
	line-height: 26px;
	font-family: "PT Sans Bold", Arial, sans-serif;
}
.feature__desc p{
	font-size: 14px;
	line-height: 26px;

	margin-top: 38px;
}
.feature__number::before{
	content: '– ';
}
.feature__number::after{
	content: ' –';
}
/*пошли строки*/
ul.feature__list{
	list-style: none;
	
	padding-top: 50px;
	padding-bottom: 80px;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
}
.feature__list:last-child{
	background-color: #eeeeee;

	padding-bottom: 62px;
}
.feature__wrapper{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	
	/* заткнем проблему с загадочной разницей в высотах блоков. но при переполнении будет проблема */
	max-height: 255px;
}
.feature__illustration{
	background-repeat: no-repeat;
	background-position: center;
	width: 67%;	
}
.feature__wrapper:nth-of-type(1) .feature__illustration{
	background-image: url('../img/features_1.jpg');
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
}
.feature__wrapper:nth-of-type(2) .feature__illustration{
	background-image: url('../img/features_2.jpg');
	order: -1;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
}
.feature__point{
	box-sizing: border-box;
	background-color: #81b3d2;
	color: #ffffff;
	width: 33%;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 46px;
	padding-bottom: 62px;

}
.feature__point h3{
	margin-bottom: 26px;
}
.feature__point p{
	margin-top: 26px;
}
.feature__item{
	width: 33%;
	padding-left: 10px;
	padding-right: 10px;
}
.feature__item h4{
	margin-bottom: 26px
}
.feature__item p{
	margin-top: 26px;
}
.feature__item--icon h4{
	padding-top: 102px;
	position: relative;
	margin-bottom: 28px;
}
.feature__item--icon h4::before{
	content: '';
	position: absolute;
  	top: 0;
  	left: 50%;
  	width: 80px;
  	height: 75px;
  	margin-left: -40px;
  	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 80px 75px;
}
.feature__item--home h4::before{
	background-image: url(../img/icon-1.svg);
}
.feature__item--meal h4::before{
	background-image: url(../img/icon-2.svg);
}
.feature__item--souvenir h4::before{
	background-image: url(../img/icon-3.svg);
}	

/*********************** Поиск на главной ***************************/
.search{
	background-color: #ffffff;
	max-width: 1200px;
	min-width: 768px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}
.search__title{
	text-align: center;
	padding-top: 55px;
	padding-bottom: 48px;
}
.search__title b{
	font-size: 30px;
	line-height: 36px;
	font-family: "PT Sans Bold", Arial, sans-serif;
}
.search__title p{
	line-height: 24px;
	margin-top: 30px;
}
.search__button{
	width: 570px;
	font-size: 21px;
	line-height: 26px;
	text-align: center;
	padding: 32px 0;
}
.search__form{
	font-family: "PT Sans Bold", Arial, sans-serif;
	box-sizing: border-box;
	width: 570px;
	padding: 55px;
	background-color: #ffffff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;	
	flex-wrap: wrap;
}
.search__popup{
	position: absolute;
	z-index: 1;
}
.search__popup--off{
	display: none;
}
.search__form div{
	width: 100%;
}
.search__form div:nth-child(3), .search__form div:nth-child(4){
	width: 50%;
}
.search__form div:nth-child(3){
	justify-content: space-between;
}
.search__form div:nth-child(4){
	justify-content: flex-end;
}
.search__form input, 
.search__control{
	outline: none;
	border: none;
	background: #f2f2f2;
	height: 37px; 
}
.search__form input:hover{
	background-color: #ebebeb;
}
.search__form input:focus{
	background-color: transparent;
	box-shadow: inset 0 0 0 1px #ebebeb;
}
.search__control{
	color: #a9a9a9;
	width: 37px;
	height: 39px;
	padding: 0 12px;
	text-align: center;
}
.search__control:hover{
	color: #000000;
}
.search__control:active{
	color: #81b3d2;
}
.search__button--submit{
	width: 458px;
	padding: 18px 0;
	margin-top: 24px;
}
.order-form__field{
	position: relative;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	margin-bottom: 30px;
}
.order-form__field .order-form__counter{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
	width: 114px;
}
.order-form__counter button:nth-of-type(1){
	order: 1;
}
.order-form__counter button:nth-of-type(2){
	order: 3;
}
.order-form__field--datein input,
.order-form__field--dateoff input{
	box-sizing: border-box;
	width: 343px;
	padding-left: 10px;
}
.order-form__field--adults input,
.order-form__field--kids input{
	width: 40px;
	text-align: center;
	order: 2;
}
.order-form__field--kids .order-form__counter{
	margin-left: 25px;
}

.order-form__calendar-icon{
	width: 21px;
	height: 22px;
	padding: 0;
	position: absolute;
	right: 8px;
	top: 50%;
	margin-top: -11px;
	background: transparent;
	border: none;
	outline: none;
}
.order-form__calendar-icon path{
	fill: #cacaca;
}
.order-form__calendar-icon:hover path{
	fill: #000000;
}
.order-form__calendar-icon:active path{
	fill: #81b3d2;
}

/*********************** Карта ***********************************/
.map{
	max-width: 1200px;
	min-width: 768px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.map img{
	width: 100%;
	height: auto;
}
/*********************** Подвал **********************************/
.footer{
	background-color: #ffffff;

	max-width: 1200px;
	min-width: 768px;
	min-height: 120px;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.footer p, ul{
	padding: 0;
	margin: 0;
}
.footer__tag{
	font-family: "PT Sans Bold", Arial, sans-serif;
	color: black;
	font-size: 21px;
	line-height: 26px;
	text-align: center;

	width: 33%;
}
.footer__social{
	list-style: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	width: 33%;
}
.footer__social li{
	
}
.footer__social li:nth-child(2){
	margin-right: 6px;
	margin-left: 6px;
}
.footer__social a{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	padding: 0;
	width: 47px;
	height: 47px;
}

.footer__copyright{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;

	width: 33%;
}
.footer__copyright img{
	padding-left: 10px;	
}
/*********** Организуем футер над картой **************************/
.bottombar{
	position: relative;
	max-width: 1200px;
	min-width: 768px;
}
.bottombar .footer{
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
	width: 100%;
	
	opacity: 0.9;
}

/**************************************************************************************************************************************************************************************************************************/
/********************* Страница каталога *************************/
.inner-page .intro{
	background-image: none;
	min-height: 56px;
}
.hotels{
	background-color: #ffffff;

	max-width: 1200px;
	min-width: 768px;
}
.hotels ul, p, h2{
	margin: 0;
	padding: 0;
}
.hotels__item h2{
	font-family: "PT Sans Bold", Arial, sans-serif;
	color: #000000;
	font-size: 21px;
	line-height: 26px;
}

.hotels__column{
	box-sizing: border-box;
	width: 100%;
	/*padding-left: 72px;
	padding-right: 72px;*/
	padding-left: 6%;
	padding-right: 6%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.hotels__column--1{
	width: 33%;
	padding: 0;
}
.hotels__column--2{
	width: 67%;
	padding: 0;
}

/* Форма поиска */
.hotels-form{
	/* ИЗОБРАЖЕНИЕ ПЕРЕДЕЛАТЬ, несоотвествие макету */
	background-image: url('../img/filter_background.jpg');
	background-repeat: no-repeat;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	
	box-sizing: border-box;
	padding-top: 30px;
	padding-bottom: 30px;
}
.hotels-form__button{
	display: block;
	font-family: "PT Sans", Arial, sans-serif;
	background-color: transparent;
	padding: 8px 32px;
	border: 2px solid #ffffff;
	border-radius: 2px;
	margin: 0 auto;
}
.hotels-form__button:hover{
	background-color: #ffffff;
	color: #000000;
}

.hotels-form fieldset{
	border: none;
	margin: 0;
	padding: 0;
}
.hotels-form fieldset:not(:last-child){
	margin-right: 110px;
}
.hotels-form fieldset:last-child{
	margin-left: auto;
}
.hotels-form legend{
	font-family: "PT Sans Bold", Arial, sans-serif;
	color: #ffffff;
	font-size: 16px;
	line-height: 21px;
	margin-bottom: 20px;
}
.hotels-form ul{
	list-style: none;
	color: #ffffff;
}
.hotels-form__option{
	padding-left: 38px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 20px;
}
.hotels-form__option:last-child{
	margin-bottom: 0;
}
.hotels-form__option label{
	position: relative;
}
.hotels-form input:disabled + label{
	color: #6a6a6a;
}
.hotels-form__input + label::before{
	content: "";
	position: absolute;
	box-sizing: border-box;
	width: 27px;
	height: 23px;
	left: -38px;
	top: -3px;
	background: url('../img/checkbox-off.svg') no-repeat;
}
.hotels-form__input:disabled + label::before{
	border-color: #6a6a6a;
	background: url('../img/checkbox-off-disabled.svg') no-repeat;
}
.hotels-form__input:checked + label::before{
	background: url('../img/checkbox-on.svg') no-repeat;
}
.hotels-form .hotels__column--1{
	justify-content: flex-start;
}
/*  RANGE  */
.range{
	width: 330px;
	color: #ffffff;
}
.range__price-controls{
	position: relative;
	height: 36px;
	margin-bottom: 20px;
	font-size: 0;
	border: 2px solid #ffffff;
	border-radius: 2px;
}
.range__price-controls::after{
	content: "";
	position: absolute;
	width: 2px;
	height: 22px;
	background-color: #ffffff;
	top: 50%;
	right: 50%;
	transform: translate(-50%, -50%);
}
.range__price-controls label{
	display: inline-block;
	font-size: 14px;
	line-height: 38px;
	vertical-align: top;
	cursor: pointer;
}
.range__min-price,
.range__max-price{
	width: 90px;
	padding-left: 65px;
}
.range__price-controls input{
	width: 50px;
	margin: 0;
	color: inherit;
	font: inherit;
	background: none;
	border: none;
}
.range__controls{
	position: relative;
	margin-bottom: 32px;
}
.range__toggle{
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}
.range__toggle:hover{
	background: #1c4f80;
}
.range__toggle--min{
	left: 0;
}
.range__toggle--max{
	left: 80%;
}
.range__scale{
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
}
.range__bar{
	width: 80%;
	height: 2px;
	background: #ffffff;
}


/* FILTER */
.filter{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-start;
	/*пока что*/
	min-height: 86px;
}
.filter__sort{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	justify-content: flex-start;
	align-items: center;
}
.filter__sort span{
	margin-left: 50px;
}
.filter__sort ul{
	margin-left: 40px;
}

.filter__list{
	list-style: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.filter__list li:not(:first-child){
	margin-left: 33px;
}
.filter__control{
	font-size: 12px;
	line-height: 18px;
	color: #cacaca;
	border-bottom: 1px dotted #81b3d2;
}
.filter__control:hover{
	color: #81b3d2;
}
.filter__control--current{
	color: #81b3d2;
	border: none;
}
.filter__indicator{
	width: 36px;
	padding: 0;
	margin-left: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}

.filter__indicator--unactive polygon{
	fill: #cacaca;
}

/* Список отелей */
.hotels__list{
	list-style: none;
	width: 100%;
}
.hotels__list a{
	text-decoration: none;
}
.hotels__list b{
	font-family: "PT Sans Bold", Arial, sans-serif;
	color: #000000;
	font-size: 21px;
	line-height: 26px;
}

.hotels__item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	padding-top: 30px;
	padding-bottom: 30px;
}
.hotels__item-illustration{
	max-height: 90px;
}

.hotels__item-description{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	margin-left: 30px;
}
.hotels__item-description h2{
	margin-bottom: 5px;
	margin-top: -5px;
}
.hotels__item-description div:nth-of-type(1){
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 185px;
}
.hotels__item-description div:nth-of-type(2){
	margin-top: 12px;


}
.hotels__item-more{
	margin-right: 5px;
}
.hotels__item-more,
.hotels__item-order{
	min-height: 28px;
	padding: 7px 16px;
}
.hotels__item-rating{
	background-color: #f2f2f2;
	padding: 7px 14px;
}

.hotels__item-reputation{
	margin-left: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	-ms-align-items: flex-end;
	justify-content: space-between;
	align-items: flex-end;
	/*max-height: 90px;*/
}

.hotels-stars__list{
	list-style: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

}
.hotels-stars__star{
	width: 17px;
	height: 17px;
	background-image: url('../img/star.svg');
	background-repeat: no-repeat;
	margin-left: 5px;
}

/***********************/


.hotels__filter,
.hotels__item{
	border-bottom: 1px solid #e5e5e5;
}
